* {
    background-color: #F5F5F5;
}

.container {
    font-family: Arial;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translateY(30px);

}

.forms {
    padding: 40px 35px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);

}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #24CAB6;
    font-weight: 700;

}

label {
    font-size: 1rem;
    color: #0E0E0E;
    
}

input {
    padding: 12px 14px;
    border: 0.1px solid #B7B7B7;
    font-size: 1rem;
    outline: none;

}

.button {
    margin-top: 10px;
    padding: 14px;
    background-color: #729163;
    color: #F5F5F5;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;

}

.button:disabled {
    background-color: #B7B7B7;
    cursor: no-drop;
    opacity: 0.6;

}

.error {
    color: #D21111;
    text-align: center;

}

.logoContainer {
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 0px;            
    margin-bottom: 20px;

}


.logo {
    height: 80px;  
    width: 80px;
    transform: translateY(6px);

}