.container {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 14px;
    color: #000000;

}

.table {
    width: 100%;
    border-collapse: collapse;

}

.users {
    padding: 13px 10px;
    color: #B7B7B7;
    font-size: 18px;
    font-weight: 500;

}

.number {
    color: #0088FF;

}