.footer {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--altered_dark);
  padding: 1px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

}

.footer * {
  background: transparent !important;

}

/* Responsividade */
@media (max-width: 768px) {
  .footer {
     padding: 12px 10px;
     font-size: 14px;

  }
}

/* Responsividade */
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    padding: 14px 30px;
    font-size: 15px;

  }
}


