.header {
    font-family: Arial;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 -40px;
    text-align: center;

}

.title {
    color: #24CAB6;
    
}

.logo {
    height:100px ;
    width: auto;
   
}

